# Redis
REDIS_URL=

# Server
CORS_ORIGINS=
HOST=
PORT=

# JWT
ACCESS_TOKEN_TTL= # Tiempo de vida del access token en segundos (por defecto: 900s = 15 minutos)
REFRESH_TOKEN_TTL= # Tiempo de vida del refresh token en segundos (por defecto: 604800s = 7 días)

# AUTH
# Genera una clave secreta aleatoria de 64 bytes con OpenSSL: openssl rand -base64 64
AUTH_SECRET_KEY=
